.inactive {
    display: none;
}
.active {
display: block;
}

.carousel-preview {
    width: 100%;
    height: 645px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    position: relative;
    &_container {
        padding-top: 25vh;
        padding-left: 122px;
        h1 {
            color: $title;
            font-size: 65px;
            font-family: $titleFont;
            text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
            margin-bottom: 35px;
        }
        
        p {
            color: $description;
            font-size: 18px;
            font-family: $defaultFont;
            text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
            width: 500px;
        }
        img {
            width: 300px;
        }
    }
    &::before {
        width: 100%;
        height: 200px;
        content: '';
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        position: absolute;
        bottom: 0;
    }
}