// File for scss-vars.
// For example: main colors, paddings and so on.

$black: #000000;
$title: #EEEEEE;
$description: #EEEEEE;

$defaultFont: 'Ubuntu-Regular', sans-serif;
$titleFont: 'Ubuntu-Bold', sans-serif;
